body {
background-image : url("https://plus.unsplash.com/premium_photo-1679985958305-1677b87face0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
text-align : center ;
color : blue ;
margin-top: 250px;
margin-right : 150px;
font-size : 20px ;
background-size : cover ;
font-family : Helvetica ;
display : flex ;
justify-content : center ;
flex-direction : column ;
align-items : center;

}

#increment {
background : darkred;
}

#save {
background : darkgreen ;
}

button {
font-weight : bold ;
margin : 5px ;
padding : 5px ;
border-radius : 10px ;
color : black ;
width : 150px ;
}

.count {
max-width : 700px;
}

#save-el {
color : red;

}
